<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Nodejs">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="app.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
